h1 {
	font-size: 4rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
	color: #adb5bd;
	text-align: center;
}

html {
	font-size: 78%;
	margin: 10px auto;
}
body {
	background-color: #e5dbff;
}
.inner-part {
	display: flex;
	gap: 1rem;
	/* align-items: center; */
	justify-content: center;
}
.input {
	padding: 1rem 1.5rem;
	border-radius: 10px;
}
.outer {
	margin: 2rem auto;
}
#list {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.button_ {
	padding: 1.2rem;
	border-radius: 10px;
}
